Package: nvrun
Version: 1.0
Architecture: all
Maintainer: Nolan Pro <email@email.com>
Installed-Size: 18
Depends: python3
Section: utils
Priority: optional
Homepage: https://github.com/ner216/nvrun
Description: Run Nvidia GPU only when required in hybrid setups.
    Configures Nvidia GPU to stay in sleep(d3cold) unless explicitly required.
